<div class="box">
    <div class="dish-nutrients">
        <img src="<%=image_url%>" alt="">
        <p><%=name%></p>
        <p>calorie: <%=calorie%>kCal</p>
        <p>protein: <%=protein%>g</p>
        <p>carbs: <%=carbs%>g</p>
        <p>fat: <%=fat%>g</p>
        <p>recipe <a href="<%=recipe%>"><%=recipe%></a></p>
    </div>
</div>

